{% extends "layout.html.twig" %}
{% block title %}Eventos{% endblock %}
{% block contenido %}
<h2>Eventos</h2>
<div>
<ul>
    {% for evento in eventos %}
        <a href='{{ path('app_evento', {'slug': evento.slug} ) }}'>{{ evento.titulo }}</a>
        <p>{{ evento.descripcion }}</p>
        <p><b>Hora comienzo: </b> {{ evento.hora|date('H:i') }} | {{ evento.horaFinalizacion|date('H:i') }}
        <hr>
    {% else %}
        No hay eventos registrados
    {% endfor %}
</ul>
</div>
{% endblock %}
