{% extends "layout-admin.html.twig" %}
{% block title %}Administrar listado de eventos{% endblock %}
{% block pageid %}admin{% endblock %}
{% block contenido %}
	<!-- MENSAJES FLASH ADMIN AQUÍ (utilizar <div class=”flash_admin”> </div>) -->
		{% for mensaje in app.flashes('info') %}
			<div class="flash_admin alert alert-info">{{ mensaje | raw }}</div>
		{% endfor %}
		<table>
			<thead>
				<tr>
					<th>Fecha/Hora</th>
					<th>Título</th>
					<th>Idioma</th>
					<th>Inscriptos</th>
					<th>Acciones</th>
				</tr>
			</thead>

			<tbody>
				{% for evento in eventos %}
					<tr>
						<td>{{ evento.fecha | date('d/m/Y') }}
							{{ evento.hora | date('H:i') }}
						</td>
						<td>
							<a href="{{ path('app_evento', {'slug': evento.slug} ) }}">{{ evento.titulo }} </a>
						</td>
						<td>{{ evento.idioma }}</td>
						<td>{{ evento.usuarios | length }}</td>
						<td>
							<a href="{{ path('app_admin_evento_inscriptos', { 'id': evento.id }) }}">Ver inscriptos</a>
							<a href="{{ path('app_admin_evento_borrar', { 'id': evento.id }) }}">Borrar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">No existe ningún evento</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="#RUTA_new_EVENTO">Nuevo evento</a>
	{% endblock %}
